/* ============== COMMON STYLES ============== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
    display: block;
}

/* Маркери списку */
.list {
    list-style-type: none;
}
  /* Властивості тексту */
.link {
    text-decoration: none;
}
  
button {
    cursor: pointer;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

/* .accent-color { */
    /* color: #fd9222; */
/* } */

.section-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-align: center;
    text-transform: uppercase;
    color: #111111;
}
/* Приховуваний елемент */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
  
.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
  
.section {
    padding-top: 60px;
    padding-bottom: 60px;
}
/* ============== /COMMON STYLES ============== */  

/* ============== HEADER ============== */
.page-navigation {
    display: flex;
    align-items: center;
}
.page-heder {
    border-bottom: 1px solid #e7e9fc;
}
.page-navigation-heder {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-link:hover,
.menu-link:focus,
.connect-link:hover,
.connect-link:focus {
    color: #404BBF;
}
.button-connect:hover,
.button-connect:focus {
    background-color: #404BBF;
}
.logo {
    color:  #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.03em; 
    text-transform: uppercase;
    margin-right: 76px;
}
span {
    color: #2e2f42;
}
.menu-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.menu {
   display: flex;
   gap: 40px;
}

.connect-link {
    color:  #434455;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    font-style: normal;
    gap: 40px;
}   
.connect {
    font-style: normal;
}
/* ============== /HEADER ============== */

/* ============== MOTTO ============== */
.size-section {
    background:  #2E2F42;
    height: 600px;
    padding-top: 188px;
    padding-bottom: 188px;
}
.main-title {
    color:  #ffffff;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07; /* 107.143% */
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 48px;
}
.button-connect {
    background:  #4D5AE5;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.04em;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    display: block;
    
    
}
/* ============== /MOTTO ============== */

/* ============== BENEFITS ============== */
.page-content {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.container-benefits {
    width: calc(( 100% - 72px ) / 4);   
}
.title-section-benefits {
    padding: 120px 0;
}
.benefits-title {
    color:  #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    
}
.benefits-content {
    color:  #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;

}
/* ============== /BENEFITS ============== */

/*  ============== Our Team ============== */
.photo-container{
    padding: 32px 0;
}

.list-container-team {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.section-team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;

}

.title-section-team {
    color:  #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.photo-title {
    color:  #2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px
}
.photo-content {
    color:  #434455;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    text-align: center;
}
.list-team {
    background-color: #FFFFFF;
    width: calc(( 100% - 72px ) / 4);
    border-radius: 0px 0px 4px 4px;
}
/*  ============== /Our Team ============== */

/* Portfolio */
.page-portfolio {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none; 
}
.portfolio-section {
    padding-top: 120px; 
    padding-bottom: 120px;
}
.list-photo {
    width: calc(( 100% - 48px ) / 3);
}
.container-photo {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.title-section-portfolio {
    color:  #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.title-portfolio {
    color:  #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.content-portfolio {
    color:  #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
}
/* Contacts */
.page-footer {
    background:  #2E2F42;
    padding: 100px 0; 
}
.logo-footer {
    color:  #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}
.content-footer {
    color:  #F4F4FD;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    max-width: 264px;
}
.logo-span {
    color: #f4f4fd;
}